In [18]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [7]:
df = pd.read_csv(url)

NameError: name 'url' is not defined

In [4]:
len(df)

265

In [24]:
df.head(0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [25]:
df.dtypes

LocationID               Int64
Borough         string[python]
Zone            string[python]
service_zone    string[python]
dtype: object

In [26]:
print(df.dtypes)

LocationID               Int64
Borough         string[python]
Zone            string[python]
service_zone    string[python]
dtype: object

In [27]:
dtype = {
    "LocationID" : "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string"
}
df = pd.read_csv(
    url,
    dtype=dtype
)

In [28]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [31]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    iterator=True,
    chunksize=1000
)

first_chunk = next(df_iter)

first_chunk.head(0).to_sql(
    name='zones',
    con=engine,
    if_exists="replace"
)
print(f"Inserted first chunk: {len(first_chunk)}")

for df_chunk in df_iter:
    df_chunk.to_sql(name='zones', con=engine, if_exists='append')
    print(f"Inserted chunk: {len(df_chunk)}")

Inserted first chunk: 265

In [32]:
df = pd.read_csv(url, dtype=dtype)
df.to_sql(name='zones', con=engine, if_exists='replace')
print(f"Inserted {len(df)} rows")

Inserted 265 rows