In [13]:
import pandas as pd

In [14]:
prefix= 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url=f'{prefix}/yellow_tripdata_2021-01.csv.gz'

In [15]:
df = pd.read_csv(url)

/tmp/ipykernel_29336/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [16]:
len(df)

1369765

In [23]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [21]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [24]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,<NA>,2021-01-25 08:32:04,2021-01-25 08:49:32,<NA>,8.80,<NA>,<NA>,135,82,<NA>,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,<NA>,2021-01-25 08:34:00,2021-01-25 09:04:00,<NA>,5.86,<NA>,<NA>,42,161,<NA>,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,<NA>,2021-01-25 08:37:00,2021-01-25 08:53:00,<NA>,4.45,<NA>,<NA>,14,106,<NA>,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,<NA>,2021-01-25 08:28:00,2021-01-25 08:50:00,<NA>,10.04,<NA>,<NA>,175,216,<NA>,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,<NA>,2021-01-25 08:38:00,2021-01-25 08:50:00,<NA>,4.93,<NA>,<NA>,248,168,<NA>,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [25]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[ns]

In [26]:
!uv add sqlalchemy

Resolved 118 packages in 907ms
Prepared 2 packages in 488ms
░░░░░░░░░░░░░░░░░░░░ [0/2] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 2 packages in 75ms
 + greenlet==3.3.0
 + sqlalchemy==2.0.45

In [29]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [28]:
!uv add psycopg2-binary

Resolved 119 packages in 451ms
Prepared 1 package in 466ms
░░░░░░░░░░░░░░░░░░░░ [0/1] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 1 package in 13ms.11
 + psycopg2-binary==2.9.11

In [31]:
df.head

<bound method NDFrame.head of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1               1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2               1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3               1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4               2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
...           ...                  ...                   ...              ...
1369760      <NA>  2021-01-25 08:32:04   2021-01-25 08:49:32             <NA>
1369761      <NA>  2021-01-25 08:34:00   2021-01-25 09:04:00             <NA>
1369762      <NA>  2021-01-25 08:37:00   2021-01-25 08:53:00             <NA>
1369763      <NA>  2021-01-25 08:28:00   2021-01-25 08:50:00             <NA>
1369764      <NA>  2021-01-25 08:38:00   2021-01-25 08:50:00             <NA>

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 2.10           1                  N           142
1                 0.20           1                  N           238
2                14.70           1                  N           132
3                10.60           1                  N           138
4                 4.94           1                  N            68
...                ...         ...                ...           ...
1369760           8.80        <NA>               <NA>           135
1369761           5.86        <NA>               <NA>            42
1369762           4.45        <NA>               <NA>            14
1369763          10.04        <NA>               <NA>           175
1369764           4.93        <NA>               <NA>           248

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  43             2         8.00   3.00      0.5        0.00
1                 151             2         3.00   0.50      0.5        0.00
2                 165             1        42.00   0.50      0.5        8.65
3                 132             1        29.00   0.50      0.5        6.05
4                  33             1        16.50   0.50      0.5        4.06
...               ...           ...          ...    ...      ...         ...
1369760            82          <NA>        21.84   2.75      0.5        0.00
1369761           161          <NA>        26.67   2.75      0.5        0.00
1369762           106          <NA>        25.29   2.75      0.5        0.00
1369763           216          <NA>        28.24   2.75      0.5        0.00
1369764           168          <NA>        20.76   2.75      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    0.3         11.80
1                 0.0                    0.3          4.30
2                 0.0                    0.3         51.95
3                 0.0                    0.3         36.35
4                 0.0                    0.3         24.36
...               ...                    ...           ...
1369760           0.0                    0.3         25.39
1369761           0.0                    0.3         30.22
1369762           0.0                    0.3         28.84
1369763           0.0                    0.3         31.79
1369764           0.0                    0.3         24.31

         congestion_surcharge
0                         2.5
1                         0.0
2                         0.0
3                         0.0
4                         2.5
...                       ...
1369760                   0.0
1369761                   0.0
1369762                   0.0
1369763                   0.0
1369764                   0.0

[1369765 rows x 18 columns]>

In [32]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [33]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [36]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,)

In [57]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index = False)

0it [00:00, ?it/s]

In [40]:
df = next(df_iter)

In [46]:
from tqdm.auto import tqdm

In [62]:
df = next(df_iter)

StopIteration:

In [61]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,)

for df_chunk in tqdm(df_iter, desc="Ingesting data"):
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
    )
    print("Inserted chunk:", len(df_chunk))

Ingesting data: 1it [00:08,  8.61s/it]

Inserted chunk: 100000

Ingesting data: 2it [00:17,  8.65s/it]

Inserted chunk: 100000

Ingesting data: 3it [00:25,  8.65s/it]

Inserted chunk: 100000

Ingesting data: 4it [00:35,  8.90s/it]

Inserted chunk: 100000

Ingesting data: 5it [00:44,  8.91s/it]

Inserted chunk: 100000

Ingesting data: 6it [00:53,  9.16s/it]

Inserted chunk: 100000

Ingesting data: 7it [01:02,  9.11s/it]

Inserted chunk: 100000

Ingesting data: 8it [01:11,  9.05s/it]

Inserted chunk: 100000

Ingesting data: 9it [01:20,  8.99s/it]

Inserted chunk: 100000

Ingesting data: 10it [01:30,  9.23s/it]

Inserted chunk: 100000

Ingesting data: 11it [01:45, 11.15s/it]

Inserted chunk: 100000

Ingesting data: 12it [01:55, 10.69s/it]

Inserted chunk: 100000

Ingesting data: 13it [02:04, 10.12s/it]

Inserted chunk: 100000

Ingesting data: 14it [02:10,  9.30s/it]

Inserted chunk: 69765

In [ ]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
df = pd.read_csv(url)